#card-3 .glass-wall {
    width: 33%;
    transform: translateX(7px);
}

#card-3 .brick-wall {
    width: 24%;
}

#card-3 .fruit-sign-1 {
    left:50%;
}

.grated-door-wrapper {
    width: 20%;
    height: 98%;
    background: #2D6A1B;
    display: inline-block;
    border: 4px solid #212420;
    transform: translateX(-25px);
}

.grated-door {
    background-color: #2D6A1B;
    background-image:linear-gradient(#61CB53 .1em, #273225 .6em, #2D6A1B .3em);
    background-size: 100% 1.2em;
    width:94%;
    margin: auto;
    height: 98%;
}

.jl-background {
    height: auto;
    width: 100%;
}